.hidden {
  visibility: hidden;
}

body {
  background-color: black;
  font-family: sans-serif;
  margin: 0px;
}

button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  margin: 0px;
  font-size: medium;
}

button.activated {
  background-color: red;
}

button.activated:hover {
  background-color: darkred;
  color: whitesmoke;
}

button:active {
  background-color: red;
  color: whitesmoke
}

button:active:hover {
  background-color: darkred;
  color: whitesmoke
}

button.activated:active:hover {
  background-color: red;
  color: whitesmoke
}

button:hover {
  background-color: orange;
  color: black;
}

button:disabled {
  background-color: grey;
}

button:disabled:hover {
  background-color: grey;
}

button:disabled:active {
  background-color: grey;
}

circle.planet#mercury {
  fill: grey
}

circle.planet#venus {
  fill: palegoldenrod
}

circle.planet#earth {
  fill: blue
}

circle.planet#mars {
  fill: red
}

circle.planet#jupiter {
  fill: orange
}


circle.planet#saturn {
  fill: yellow
}

circle.planet#saturnRings {
  fill: none;
  stroke: white;
}

circle.planet#uranus {
  fill: turquoise;
}

circle.planet#neptune {
  fill: darkblue;
}

circle.planet#pluto {
  fill: grey;
}


circle#sol {
  fill: yellow;
}

ellipse.orbit {
  stroke: white;
  fill: none;
}

div {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  padding: 0px
}

span.result {
  font-family: monospace;
  font-size: x-large;
  text-align: center;
  color: red;
}

span.result.valid {
  color: black
}